<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Liao Chung Yi">
  <meta name="description" content="A demo that uses google cloud platform">
  <meta name="robots" content="all">
  <title>Demo on GCP</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <section class="header">

    <div class="start">
      <a href="#" class="icon menu">
        <div class="icon-svg">
          <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M21,6H3V5h18V6z M21,11H3v1h18V11z M21,17H3v1h18V17z"></path></g></svg>
        </div>
      </a>
      <a href="/" class="logo">
        <div class="icon-svg">
          <svg width="22" height="18" viewBox="0 0 22 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M20 0H2C0.9 0 0 0.9 0 2V16C0 17.1 0.9 18 2 18H20C21.1 18 22 17.1 22 16V2C22 0.9 21.1 0 20 0ZM20 16.01H2V1.99H20V16.01Z"></path><path d="M6.87574 6H4.72426C4.45699 6 4.32314 6.32314 4.51213 6.51213L7.78787 9.78787C7.90503 9.90503 7.90503 10.095 7.78787 10.2121L4.51213 13.4879C4.32314 13.6769 4.45699 14 4.72426 14H6.87574C6.9553 14 7.03161 13.9684 7.08787 13.9121L10.7879 10.2121C10.905 10.095 10.905 9.90503 10.7879 9.78787L7.08787 6.08787C7.03161 6.03161 6.9553 6 6.87574 6Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.51213 6.51213C4.32314 6.32314 4.45699 6 4.72426 6H6.87574C6.9553 6 7.03161 6.03161 7.08787 6.08787L10.7879 9.78787C10.905 9.90503 10.905 10.095 10.7879 10.2121L7.08787 13.9121C7.03161 13.9684 6.9553 14 6.87574 14H4.72426C4.45699 14 4.32314 13.6769 4.51213 13.4879L7.78787 10.2121C7.90503 10.095 7.90503 9.90503 7.78787 9.78787L4.51213 6.51213ZM6.41421 7L8.49497 9.08076C9.00266 9.58844 9.00266 10.4116 8.49497 10.9192L6.41421 13H6.58579L9.58579 10L6.58579 7H6.41421Z"></path><path d="M11 13.7V12.3C11 12.1343 11.1343 12 11.3 12H17.7C17.8657 12 18 12.1343 18 12.3V13.7C18 13.8657 17.8657 14 17.7 14H11.3C11.1343 14 11 13.8657 11 13.7Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M11 12.3V13.7C11 13.8657 11.1343 14 11.3 14H17.7C17.8657 14 18 13.8657 18 13.7V12.3C18 12.1343 17.8657 12 17.7 12H11.3C11.1343 12 11 12.1343 11 12.3Z"></path></svg>
        </div>
        <h1>Demo on GCP</h1>
      </a>
    </div>

    <div class="center">
      <form action="\search">
        <input id="search" 
        class="search-input" autocapitalize="none" autocomplete="off" autocorrect="off" name="search" tabindex="0" type="text" spellcheck="false" placeholder="搜尋" aria-label="搜尋" aria-haspopup="false" style="outline: none;">

        <button type="button" id="button-clear" class="search-clear-button" aria-label="清除搜尋查詢">
          <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: block; width: 24px; height: 24px;"><g ><path d="M12.7,12l6.6,6.6l-0.7,0.7L12,12.7l-6.6,6.6l-0.7-0.7l6.6-6.6L4.6,5.4l0.7-0.7l6.6,6.6l6.6-6.6l0.7,0.7L12.7,12z"></path></g></svg>
        </button>

        <button type="button" id="button-submit" class="search-submit-button" aria-label="送出搜尋查詢">
          <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: block; width: 24px; height: 24px;"><g><path d="M20.87,20.17l-5.59-5.59C16.35,13.35,17,11.75,17,10c0-3.87-3.13-7-7-7s-7,3.13-7,7s3.13,7,7,7c1.75,0,3.35-0.65,4.58-1.71 l5.59,5.59L20.87,20.17z M10,16c-3.31,0-6-2.69-6-6s2.69-6,6-6s6,2.69,6,6S13.31,16,10,16z"></path></g></svg>
        </button>

      </form>
    </div>

    <div class="end">
      <a href="#" class="icon login wide">
        <div class="icon-svg">
          <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M12,3c4.96,0,9,4.04,9,9 c0,1.42-0.34,2.76-0.93,3.96c-1.53-1.72-3.98-2.89-7.38-3.03C14.57,12.6,16,10.97,16,9c0-2.21-1.79-4-4-4C9.79,5,8,6.79,8,9 c0,1.97,1.43,3.6,3.31,3.93c-3.4,0.14-5.85,1.31-7.38,3.03C3.34,14.76,3,13.42,3,12C3,7.04,7.04,3,12,3z M9,9c0-1.65,1.35-3,3-3 s3,1.35,3,3c0,1.65-1.35,3-3,3S9,10.65,9,9z M12,21c-3.16,0-5.94-1.64-7.55-4.12C6.01,14.93,8.61,13.9,12,13.9 c3.39,0,5.99,1.03,7.55,2.98C17.94,19.36,15.16,21,12,21z"></path></g></svg>
        </div>
        <div class="icon-text">
          登入
        </div>
      </a>
    </div>
  </section>

  <section class="sidebar">
    <a href="#" class="icon home">
      <div class="icon-svg">
        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M12,4.33l7,6.12V20H15V14H9v6H5V10.45l7-6.12M12,3,4,10V21h6V15h4v6h6V10L12,3Z"></path></g></svg>
        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: none; width: 100%; height: 100%;"><g ><path d="M4,10V21h6V15h4v6h6V10L12,3Z" ></path></g></svg>
      </div>
      <div class="icon-text">
        首頁
      </div>
    </a>

    <a href="#" class="icon browse">
      <div class="icon-svg">
        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M9.8,9.8l-3.83,8.23l8.23-3.83l3.83-8.23L9.8,9.8z M13.08,12.77c-0.21,0.29-0.51,0.48-0.86,0.54 c-0.07,0.01-0.15,0.02-0.22,0.02c-0.28,0-0.54-0.08-0.77-0.25c-0.29-0.21-0.48-0.51-0.54-0.86c-0.06-0.35,0.02-0.71,0.23-0.99 c0.21-0.29,0.51-0.48,0.86-0.54c0.35-0.06,0.7,0.02,0.99,0.23c0.29,0.21,0.48,0.51,0.54,0.86C13.37,12.13,13.29,12.48,13.08,12.77z M12,3c4.96,0,9,4.04,9,9s-4.04,9-9,9s-9-4.04-9-9S7.04,3,12,3 M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2 L12,2z"></path></g></svg>
        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: none; width: 100%; height: 100%;"><g><path d="M11.23,13.08c-0.29-0.21-0.48-0.51-0.54-0.86c-0.06-0.35,0.02-0.71,0.23-0.99c0.21-0.29,0.51-0.48,0.86-0.54 c0.35-0.06,0.7,0.02,0.99,0.23c0.29,0.21,0.48,0.51,0.54,0.86c0.06,0.35-0.02,0.71-0.23,0.99c-0.21,0.29-0.51,0.48-0.86,0.54 c-0.07,0.01-0.15,0.02-0.22,0.02C11.72,13.33,11.45,13.25,11.23,13.08z M22,12c0,5.52-4.48,10-10,10S2,17.52,2,12 C2,6.48,6.48,2,12,2S22,6.48,22,12z M18.03,5.97L9.8,9.8l-3.83,8.23l8.23-3.83L18.03,5.97z"></path></g></svg>
      </div>
      <div class="icon-text">
        探索
      </div>
    </a>

    <a href="#" class="icon content">
      <div class="icon-svg">
        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M10,18v-6l5,3L10,18z M17,3H7v1h10V3z M20,6H4v1h16V6z M22,9H2v12h20V9z M3,10h18v10H3V10z"></path></g></svg>
        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: none; width: 100%; height: 100%;"><g><path d="M20,7H4V6h16V7z M22,9v12H2V9H22z M15,15l-5-3v6L15,15z M17,3H7v1h10V3z"></path></g></svg>
      </div>
      <div class="icon-text">
        內容
      </div>
    </a>

    <a href="#" class="icon media">
      <div class="icon-svg">
        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"style="pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M11,7l6,3.5L11,14V7L11,7z M18,20H4V6H3v15h15V20z M21,18H6V3h15V18z M7,17h13V4H7V17z"></path></g></svg>
        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: none; width: 100%; height: 100%;"><g><path d="M4,20h14v1H3V6h1V20z M21,3v15H6V3H21z M17,10.5L11,7v7L17,10.5z"></path></g></svg>
      </div>
      <div class="icon-text">
        影音
      </div>
    </a>

  </section>

  {{{body}}}

  <script defer src="/javascripts/dom.js"></script>
</body>
</html>