<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Liao Chung Yi">
  <meta name="description" content="A demo that uses google cloud platform">
  <meta name="robots" content="all">
  <title>Demo on GCP</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>here is main handlebars</h1>
  {{{body}}}
  <script defer src="/javascripts/dom.js"></script>
</body>
</html>