<link rel="stylesheet" href="/stylesheets/loginAndOut.css">
<form action="/login" method="post">
  <input type="text" placeholder="帳號" id="account">
  <input type="text" placeholder="密碼" id="password">
  <button type="button">登入</button>
</form>